<section class="card">
    <div class="card-body">
        <h1>Esta aplicación web</h1>
        <p>Es un Demo desarrollado por Mauricio Pérez.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit veniam voluptatibus ut laboriosam. Autem omnis fugit expedita esse tempora assumenda architecto debitis alias culpa. Atque accusantium quisquam voluptatem commodi quos.</p>
    </div>
</section>