<div class="jumbotron mt-4">
    <h1 class="sisplay-4"> Notes app Node y Mongodb [NOTENOMO]</h1>
    <p class="lead"> Aplicación de notas con NodeJS y MongoDB en Linux</p>
    <hr class="my-4">

    <p class="text-info">Si ya está previamente registrad@, haga click en el boton <i class="text-primary">"ACCEDER"</i>, de lo contrario siga las instrucciones:</p>
    <p>1) Para empezar haga click en la esquina superior derecha en la pestaña "Registrar".</p>
    <p>2) Llene los campos y haga click en "Registrar".</p>
    <p>3) Haga click en la esquina superior derecha en la pestaña "Notas", se desplegara un menú, elija "Agregar Nota".</p>
    <p>4) Escriba un titulo y una descripción de su nota, y haga click en "Guardar".</p>
    <p>5) Vea todas sus notas en la esquina superior derecha, en la pestaña "Notas",   se desplegara un menú, elija "ver Notas". </p>
    <p>6) Finalmente para cerrar sesión, en la esquina superior derecha, en el menú desplegable de la pestaña "Notas" elija "Cerrar". </p>
   
    <a href="/users/signin" class="btn btn-primary">ACCEDER</a>
</div>
