<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="class">
            <div class="card-header">
                Registra una cuenta
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Correo Electrónico" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar Contraseña" value="{{confirm_password}}">
                    </div>
                    <button class="bnt btn-primary btn-block">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>